# Ignore saved_models and tensorboard_logs
MFRL/saved_models/
MFRL/tensorboard_logs/

MFRL/Baselines3/SAC/model/
MFRL/Baselines3/SAC/model_2000k/
MFRL/Baselines3/SAC/tensorboard/
MFRL/Baselines3/SAC/tensorboard_2000k/
MFRL/Baselines3/SAC/eval/eval_logs/
MFRL/Baselines3/SAC/video/

*.zip